body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0C1821;
}


header {
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
    color: #405e79;
    text-decoration: underline;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.9em;
    color: #8996b4;
    text-decoration: underline;
}

label{
    color: #8996b4;
    font-size: 1.6em;
}
#reg{
    color: #405e79;
    font-size: 2.5em;
}
#leg{
    color: #75b2e7;
    font-size: 2.0em;
}